body {
    background-color: rgb(57, 158, 167);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.tabelaPre {
    width: 600px;
    position: absolute;
    left: 28%;
    padding: 5px;
    margin-top: 50px;
}

.tabelaPre .titulos1 {
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    width: 100%;
}

section {
    margin-top: 50px;
}

section label {
    color: rgb(5, 44, 71);
    font-size: 18px;
    margin-left: 7px;
}

section label.escolhaMes {
    color: rgb(5, 44, 71);
    font-size: 18px;
    margin-left: 7px;
}

select {
	width: 285px;
	padding: 20px 15px;
	border-radius: 6px;
    margin-top: 10px;
	font-size: 1.1em;
	color: #fff;
    border: 2px solid rgb(5, 44, 71);
    display: inline-flex;

    cursor: pointer;
	-webkit-appearance:none; 
	background: #04385e url("../_img/right-arrow.png") 92% 50% no-repeat;
}

select:nth-child(1) {
    margin-left: 7px;
}

select:nth-child(2) {
    margin-left: 10px;
    margin-bottom: 30px;
}

select:hover {
    border: 2px solid #021725;
    background: #052c47 url("../_img/right-arrow.png") 92% 50% no-repeat;
}

select:focus {
    border: 2px solid rgb(2, 23, 37);
	outline:none;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}





.escolhaMes {
    display: inline-flex;
    margin-top: 10px;
    margin-left: 7px;
    text-align: center;
}

#mes01 {
    width: 192px;
    padding: 10px 50px;
    color: #fff;
    background-color: rgba(75, 136, 145, 0.5);
    cursor: pointer;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    font-size: 18px;
}

#mes01 span {
    font-size: 15px;
    color: #ddd;
}

#mes12 {
    width: 192px;
    padding: 10px 50px;
    color: #fff;
    background-color: rgba(75, 136, 145, 0.5);
    cursor: pointer;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 18px;
}

#mes12 span {
    font-size: 15px;
    color: #ddd;
}






div.linha {
    border-top: 1px solid #228891;
    margin-top: 10px;
    margin-bottom: 10px;
}

div#resultado {
    display: inline-flex;
    font-size: 24px;
    margin-left: 7px;
}

div.resultadoPreco {
    width: 250px;
    padding: 18px 15px;
	border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 7px;
	font-size: 1.1em;
    background-color: #fff;
	color: #000;
    border: 2px solid #fff;
    display: inline-flex;
}

.confirmarC {
    background: rgb(255, 201, 41) url("../_img/setaAvancar.png") 85% 50% no-repeat;
    background-size: 32px;
    color: #135f66;
    display: inline-flex;

    width: 215px;
    padding: 20px 35px;
	border-radius: 6px;
    margin-bottom: 30px;
    margin-left: 10px;
	font-size: 1.2em;
    cursor: pointer;

    position: relative;
    top: -2px;
    box-shadow: rgb(0 0 0 / 15%) 0px 10px 20px;
}