:root {
    --color: green;
	--color2: red;
	--color3: #239dbb;
}

body {
	background-color: #FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #111;
}

main {
	margin:50px auto;
    width:670px;
	line-height:200%;	
	padding:15px;
}

input {
	display:block	;
}

input {
    font-size:1.3em;
	margin-bottom:20px;
	padding:15px;
	background-color:#f0f0f0;
	border:1px solid #999;
    border-radius: 5px;
    width: 300px;
	color:#111;
}

input:hover {
	border:1px solid #333;
    color:#000;
	outline:none;
}

input:focus {
	border: 1px solid #333;
	outline:none;
	border-bottom: 4px solid rgb(35, 157, 187);
}

select {
	width: 332px;
	padding: 15px;
	background-color: #f0f0f0;
	border-radius: 5px;
	margin-bottom: 15px;
	border: 1px solid #999;
	font-size: 1.3em;
	color: #444;

	-webkit-appearance:none; 
	background:#E9E9E9 url("../_img/right-arrow.png") 95.5% 50% no-repeat;
}

select:focus {
	border: 1px solid #333;
	outline:none;
	border-top: 4px solid #239dbb;
}

input#btn {
    font-size:1.3em;
	margin-bottom:20px;
	padding:15px;
	background-color:#f0f0f0;
	border:1px solid #999;
    border-radius: 5px;
    width: 332px;
	color:#111;
}

input#btn:hover {
	background-color: #ccc;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
	margin: 0;
	padding: 0;
}



	/* MENSAGEM DE VERIFICAÇÃO NOME */

#msg {
	position: absolute;
	top: 130px;
	left: 700px;
	border: 0px;
	color: var(--color);
	border-bottom: 1px solid var(--color);
}

#msg2{
	position: absolute;
	top: 130px;
	left: 700px;
	border: 0px;
	color: var(--color2);
	border-bottom: 1px solid var(--color2);
	background-color: #fff;
}


	/* MENSAGEM DE VERIFICAÇÃO E-MAIL */

#msgE {
	position: absolute;
	top: 205px;
	left: 700px;
	border: 0px;
	color: var(--color);
	border-bottom: 1px solid var(--color);
}

#msgE2 {
	position: absolute;
	top: 205px;
	left: 700px;
	border: 0px;
	color: var(--color2);
	border-bottom: 1px solid var(--color2);
	background-color: #fff;
}



	/* MENSAGEM DE VERIFICAÇÃO SEXO */
#msgS {
	position: absolute;
	top: 270px;
	left: 700px;
	border: 0px;
	color: black;
	border-bottom: 1px solid black;
}


.divChecar {
	display: inline-flex;
}

.divChecar #escolherpais {
	position: relative;
	left: -100px;
}

.divChecar .labelCheckBox {
	position: relative;
	left: -235px;
	top: -2px;
}

/*div#pais {
	display: none;
}*/