:root {
    --color: green;
	--color2: red;
}

body {
	background-color: #FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #111;
}

main {
	margin:50px auto;
    width:670px;
	line-height:200%;	
	padding:15px;
}

input {
	display:block	;
}

input {
    font-size:1.3em;
	margin-bottom:20px;
	padding:15px;
	background-color:#f0f0f0;
	border:1px solid #999;
    border-radius: 5px;
    width: 300px;
	color:#111;
}

input:hover {
	border:1px solid #333;
    color:#000;
	outline:none;
}

input:focus {
	border: 1px solid #333;
	outline:none;
	border-bottom: 4px solid #999;
}

#msg {
	position: absolute;
	top: 125px;
	left: 700px;
	border: 0px;
	color: var(--color);
	border-bottom: 1px solid var(--color);
}

#msg2{
	position: absolute;
	top: 125px;
	left: 700px;
	border: 0px;
	color: var(--color2);
	border-bottom: 1px solid var(--color2);
	background-color: #fff;
}