@charset "ISO-8859-2";
/* CSS Document */

body {
	margin:0;
	padding:0;
	background-color: #fcfcfc;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
}

#janela {
	padding:10px;
	background-color:#692727;
	width:320px;
}

img {
	display:none;
}
